<a href="https://colab.research.google.com/github/athikumar72/Data-Science-Interview-Questions-30-days-interview-preparation-/blob/main/fsds_may_ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow
print(tensorflow.__version__)

2.9.2

In [4]:
!pip install<>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: `pip install<>'

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset=pd.read_csv("aps_data.csv")

In [55]:
dataset

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,neg,31394,na,0,na,0,0,0,0,0,...,393008,207182,367634,267778,106778,48688,57146,638,0,0
4996,neg,1598,na,0,na,0,0,0,0,0,...,5298,3164,9710,47042,2296,1098,3288,272,0,0
4997,neg,42,2,2130706454,56,0,0,0,0,0,...,660,272,334,76,14,0,0,0,0,0
4998,neg,32752,na,0,na,0,0,0,0,0,...,533772,37122,56252,23188,1138,134,22,0,0,0
4999,neg,616,6,58,54,0,0,0,0,0,...,4630,2268,4594,2760,2108,9308,64,0,0,0

In [7]:
dataset=dataset.replace('na',np.nan)

In [8]:
pd.options.display.max_rows=1000

In [9]:
dataset.isnull().sum()

class        0
aa_000       0
ab_000    3849
ac_000     308
ad_000    1236
ae_000     224
af_000     224
ag_000      58
ag_001      58
ag_002      58
ag_003      58
ag_004      58
ag_005      58
ag_006      58
ag_007      58
ag_008      58
ag_009      58
ah_000      60
ai_000      56
aj_000      56
ak_000     384
al_000      65
am_0        56
an_000      65
ao_000      53
ap_000      65
aq_000      53
ar_000     242
as_000      56
at_000      56
au_000      56
av_000     224
ax_000     224
ay_000      58
ay_001      58
ay_002      58
ay_003      58
ay_004      58
ay_005      58
ay_006      58
ay_007      58
ay_008      58
ay_009      58
az_000      58
az_001      58
az_002      58
az_003      58
az_004      58
az_005      58
az_006      58
az_007      58
az_008      58
az_009      58
ba_000      61
ba_001      61
ba_002      61
ba_003      61
ba_004      61
ba_005      61
ba_006      61
ba_007      61
ba_008      61
ba_009      61
bb_000      60
bc_000     243
bd_000     243
be_000     225
bf_000     224
bg_000      65
bh_000      65
bi_000      53
bj_000      53
bk_000    1880
bl_000    2234
bm_000    3273
bn_000    3631
bo_000    3832
bp_000    3960
bq_000    4043
br_000    4105
bs_000      66
bt_000      12
bu_000      64
bv_000      64
bx_000     288
by_000      43
bz_000     242
ca_000     383
cb_000      66
cc_000     288
cd_000      61
ce_000     224
cf_000    1236
cg_000    1236
ch_000    1236
ci_000      38
cj_000      38
ck_000      38
cl_000     778
cm_000     796
cn_000      61
cn_001      61
cn_002      61
cn_003      61
cn_004      61
cn_005      61
cn_006      61
cn_007      61
cn_008      61
cn_009      61
co_000    1236
cp_000     242
cq_000      64
cr_000    3849
cs_000      58
cs_001      58
cs_002      58
cs_003      58
cs_004      58
cs_005      58
cs_006      58
cs_007      58
cs_008      58
cs_009      58
ct_000    1150
cu_000    1150
cv_000    1150
cx_000    1150
cy_000    1150
cz_000    1150
da_000    1150
db_000    1150
dc_000    1150
dd_000     224
de_000     242
df_000     361
dg_000     361
dh_000     361
di_000     361
dj_000     361
dk_000     361
dl_000     361
dm_000     361
dn_000      64
do_000     243
dp_000     243
dq_000     243
dr_000     243
ds_000     243
dt_000     243
du_000     243
dv_000     243
dx_000     242
dy_000     242
dz_000     242
ea_000     242
eb_000     361
ec_00      837
ed_000     778
ee_000      58
ee_001      58
ee_002      58
ee_003      58
ee_004      58
ee_005      58
ee_006      58
ee_007      58
ee_008      58
ee_009      58
ef_000     242
eg_000     242
dtype: int64

In [10]:
pd.DataFrame(dataset.isnull().sum().sort_values(ascending=False)).rename(columns={0:"Null Value Count"})

        Null Value Count
br_000              4105
bq_000              4043
bp_000              3960
ab_000              3849
cr_000              3849
bo_000              3832
bn_000              3631
bm_000              3273
bl_000              2234
bk_000              1880
ch_000              1236
co_000              1236
cf_000              1236
cg_000              1236
ad_000              1236
db_000              1150
ct_000              1150
cu_000              1150
cv_000              1150
cx_000              1150
cy_000              1150
cz_000              1150
da_000              1150
dc_000              1150
ec_00                837
cm_000               796
cl_000               778
ed_000               778
ak_000               384
ca_000               383
di_000               361
df_000               361
dg_000               361
dh_000               361
eb_000               361
dk_000               361
dl_000               361
dm_000               361
dj_000               361
ac_000               308
cc_000               288
bx_000               288
do_000               243
bc_000               243
bd_000               243
dt_000               243
du_000               243
dv_000               243
ds_000               243
dp_000               243
dq_000               243
dr_000               243
ar_000               242
ea_000               242
ef_000               242
de_000               242
bz_000               242
eg_000               242
dz_000               242
dy_000               242
dx_000               242
cp_000               242
be_000               225
ce_000               224
ae_000               224
af_000               224
av_000               224
ax_000               224
dd_000               224
bf_000               224
bs_000                66
cb_000                66
bg_000                65
ap_000                65
al_000                65
an_000                65
bh_000                65
bv_000                64
cq_000                64
dn_000                64
bu_000                64
cn_005                61
ba_002                61
cn_009                61
cn_008                61
cn_007                61
cn_006                61
cn_004                61
cn_003                61
cn_002                61
cn_001                61
cn_000                61
ba_000                61
ba_001                61
ba_003                61
ba_005                61
ba_009                61
ba_007                61
ba_006                61
cd_000                61
ba_008                61
ba_004                61
bb_000                60
ah_000                60
ag_007                58
ay_003                58
ay_005                58
ay_002                58
ay_004                58
ay_006                58
ay_007                58
ay_001                58
ay_000                58
ag_009                58
ag_008                58
cs_008                58
ag_006                58
ag_005                58
ag_004                58
ag_003                58
ag_002                58
ag_001                58
ay_009                58
ag_000                58
ee_000                58
ee_001                58
ee_002                58
ee_003                58
ay_008                58
ee_004                58
az_000                58
az_006                58
cs_001                58
cs_002                58
cs_003                58
cs_004                58
cs_005                58
az_001                58
az_007                58
az_008                58
az_009                58
ee_006                58
ee_007                58
ee_008                58
ee_009                58
cs_006                58
cs_007                58
ee_005                58
cs_009                58
az_005                58
az_004                58
az_003                58
az_002                58
cs_000                58
ai_000                56
aj_000                56
am_0                  56
as_000                56
at_000                56
au_000                56
ao_000                53
aq_000                53
bi_000                53
bj_000                53
by_000                43
ck_000                38
cj_000                38
ci_000                38
bt_000                12
aa_000                 0
class                  0

In [11]:
### Filling null values in feature with median of that feature
for feature in [feature for feature in dataset.columns if feature not in ['class']]:
    dataset[feature]=dataset[feature].fillna(dataset[feature].median())

In [12]:
dataset.isnull().sum().sum()

0

In [13]:
dataset.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,0.0,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,0.0,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,0.0,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [16]:
X=dataset.drop("class",axis=1)

In [17]:
y=dataset["class"]

In [18]:
X.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 170 columns):
 #    Column  Non-Null Count  Dtype
---   ------  --------------  -----
 0    aa_000  5000 non-null   int64
 1    ab_000  5000 non-null   object
 2    ac_000  5000 non-null   object
 3    ad_000  5000 non-null   object
 4    ae_000  5000 non-null   object
 5    af_000  5000 non-null   object
 6    ag_000  5000 non-null   object
 7    ag_001  5000 non-null   object
 8    ag_002  5000 non-null   object
 9    ag_003  5000 non-null   object
 10   ag_004  5000 non-null   object
 11   ag_005  5000 non-null   object
 12   ag_006  5000 non-null   object
 13   ag_007  5000 non-null   object
 14   ag_008  5000 non-null   object
 15   ag_009  5000 non-null   object
 16   ah_000  5000 non-null   object
 17   ai_000  5000 non-null   object
 18   aj_000  5000 non-null   object
 19   ak_000  5000 non-null   object
 20   al_000  5000 non-null   object
 21   am_0    5000 non-null   object
 22   an_000  5000 non-null   object
 23   ao_000  5000 non-null   object
 24   ap_000  5000 non-null   object
 25   aq_000  5000 non-null   object
 26   ar_000  5000 non-null   object
 27   as_000  5000 non-null   object
 28   at_000  5000 non-null   object
 29   au_000  5000 non-null   object
 30   av_000  5000 non-null   object
 31   ax_000  5000 non-null   object
 32   ay_000  5000 non-null   object
 33   ay_001  5000 non-null   object
 34   ay_002  5000 non-null   object
 35   ay_003  5000 non-null   object
 36   ay_004  5000 non-null   object
 37   ay_005  5000 non-null   object
 38   ay_006  5000 non-null   object
 39   ay_007  5000 non-null   object
 40   ay_008  5000 non-null   object
 41   ay_009  5000 non-null   object
 42   az_000  5000 non-null   object
 43   az_001  5000 non-null   object
 44   az_002  5000 non-null   object
 45   az_003  5000 non-null   object
 46   az_004  5000 non-null   object
 47   az_005  5000 non-null   object
 48   az_006  5000 non-null   object
 49   az_007  5000 non-null   object
 50   az_008  5000 non-null   object
 51   az_009  5000 non-null   object
 52   ba_000  5000 non-null   object
 53   ba_001  5000 non-null   object
 54   ba_002  5000 non-null   object
 55   ba_003  5000 non-null   object
 56   ba_004  5000 non-null   object
 57   ba_005  5000 non-null   object
 58   ba_006  5000 non-null   object
 59   ba_007  5000 non-null   object
 60   ba_008  5000 non-null   object
 61   ba_009  5000 non-null   object
 62   bb_000  5000 non-null   object
 63   bc_000  5000 non-null   object
 64   bd_000  5000 non-null   object
 65   be_000  5000 non-null   object
 66   bf_000  5000 non-null   object
 67   bg_000  5000 non-null   object
 68   bh_000  5000 non-null   object
 69   bi_000  5000 non-null   object
 70   bj_000  5000 non-null   object
 71   bk_000  5000 non-null   object
 72   bl_000  5000 non-null   object
 73   bm_000  5000 non-null   object
 74   bn_000  5000 non-null   object
 75   bo_000  5000 non-null   object
 76   bp_000  5000 non-null   object
 77   bq_000  5000 non-null   object
 78   br_000  5000 non-null   object
 79   bs_000  5000 non-null   object
 80   bt_000  5000 non-null   object
 81   bu_000  5000 non-null   object
 82   bv_000  5000 non-null   object
 83   bx_000  5000 non-null   object
 84   by_000  5000 non-null   object
 85   bz_000  5000 non-null   object
 86   ca_000  5000 non-null   object
 87   cb_000  5000 non-null   object
 88   cc_000  5000 non-null   object
 89   cd_000  5000 non-null   object
 90   ce_000  5000 non-null   object
 91   cf_000  5000 non-null   object
 92   cg_000  5000 non-null   object
 93   ch_000  5000 non-null   object
 94   ci_000  5000 non-null   object
 95   cj_000  5000 non-null   object
 96   ck_000  5000 non-null   object
 97   cl_000  5000 non-null   object
 98   cm_000  5000 non-null   object
 99   cn_000  5000 non-null   object
 100  cn_001  5000 non-null   object
 101  cn_002  5000 non-null   object
 102  cn_003  5000 non-null   object
 103  cn_004  5000 non-null   object
 104  cn_005  5000 non-null   object
 105  cn_006  5000 non-null   object
 106  cn_007  5000 non-null   object
 107  cn_008  5000 non-null   object
 108  cn_009  5000 non-null   object
 109  co_000  5000 non-null   object
 110  cp_000  5000 non-null   object
 111  cq_000  5000 non-null   object
 112  cr_000  5000 non-null   object
 113  cs_000  5000 non-null   object
 114  cs_001  5000 non-null   object
 115  cs_002  5000 non-null   object
 116  cs_003  5000 non-null   object
 117  cs_004  5000 non-null   object
 118  cs_005  5000 non-null   object
 119  cs_006  5000 non-null   object
 120  cs_007  5000 non-null   object
 121  cs_008  5000 non-null   object
 122  cs_009  5000 non-null   object
 123  ct_000  5000 non-null   object
 124  cu_000  5000 non-null   object
 125  cv_000  5000 non-null   object
 126  cx_000  5000 non-null   object
 127  cy_000  5000 non-null   object
 128  cz_000  5000 non-null   object
 129  da_000  5000 non-null   object
 130  db_000  5000 non-null   object
 131  dc_000  5000 non-null   object
 132  dd_000  5000 non-null   object
 133  de_000  5000 non-null   object
 134  df_000  5000 non-null   object
 135  dg_000  5000 non-null   object
 136  dh_000  5000 non-null   object
 137  di_000  5000 non-null   object
 138  dj_000  5000 non-null   object
 139  dk_000  5000 non-null   object
 140  dl_000  5000 non-null   object
 141  dm_000  5000 non-null   object
 142  dn_000  5000 non-null   object
 143  do_000  5000 non-null   object
 144  dp_000  5000 non-null   object
 145  dq_000  5000 non-null   object
 146  dr_000  5000 non-null   object
 147  ds_000  5000 non-null   object
 148  dt_000  5000 non-null   object
 149  du_000  5000 non-null   object
 150  dv_000  5000 non-null   object
 151  dx_000  5000 non-null   object
 152  dy_000  5000 non-null   object
 153  dz_000  5000 non-null   object
 154  ea_000  5000 non-null   object
 155  eb_000  5000 non-null   object
 156  ec_00   5000 non-null   object
 157  ed_000  5000 non-null   object
 158  ee_000  5000 non-null   object
 159  ee_001  5000 non-null   object
 160  ee_002  5000 non-null   object
 161  ee_003  5000 non-null   object
 162  ee_004  5000 non-null   object
 163  ee_005  5000 non-null   object
 164  ee_006  5000 non-null   object
 165  ee_007  5000 non-null   object
 166  ee_008  5000 non-null   object
 167  ee_009  5000 non-null   object
 168  ef_000  5000 non-null   object
 169  eg_000  5000 non-null   object
dtypes: int64(1), object(169)
memory usage: 6.5+ MB

In [19]:
y

0       neg
1       neg
2       neg
3       neg
4       neg
       ...
4995    neg
4996    neg
4997    neg
4998    neg
4999    neg
Name: class, Length: 5000, dtype: object

In [20]:
pd.get_dummies(y,drop_first=True)

      pos
0       0
1       0
2       0
3       0
4       0
...   ...
4995    0
4996    0
4997    0
4998    0
4999    0

[5000 rows x 1 columns]

In [21]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(4000, 170)
(1000, 170)
(4000,)
(1000,)

In [23]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [24]:
# Importing the Keras libraries and packages
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [25]:
classifier=Sequential()


classifier.add(Dense(units=10,kernel_initializer='he_uniform',activation='relu',input_dim =170))


classifier.add(Dense(units = 10, kernel_initializer = 'he_uniform',activation='relu'))
 
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [26]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy',metrics=['accuracy'])

In [27]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1710

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,831
Trainable params: 1,831
Non-trainable params: 0
_________________________________________________________________

In [29]:
model_history=classifier.fit(X_train,y_train,batch_size=10,epochs=20,validation_split=0.25)

Epoch 1/20

UnimplementedError: ignored